{% schema %}
{
  "name": "Moving Banner",
  "max_blocks": 10,
  "settings": [
    {
      "type": "range",
      "id": "speed",
      "label": "Animation Speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5,
      "unit": "s",
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f0f0f0"
    }
  ],
  "blocks": [
    {
      "type": "text_image",
      "name": "Text and Image",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "¡Este es un texto editable!"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Moving Banner",
      "category": "Custom",
      "blocks": [
        {
          "type": "text_image"
        },
        {
          "type": "text_image"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  .moving-banner {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    background-color: {{settings.background_color}};
    padding: 10px 0;
    position: relative;
  }
  .moving-banner-content {
    display: inline-block;
    white-space: nowrap;
    animation: moveBanner {{ section.settings.speed }}s linear infinite;
  }
  .moving-banner-item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }
  .moving-banner-item img {
    vertical-align: middle;
    margin-right: 10px;
  }
  @keyframes moveBanner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>

<div class="moving-banner">
  <div class="moving-banner-content">
    {% for block in section.blocks %}
      <div class="moving-banner-item" {{ block.shopify_attributes }}>
        {% if block.settings.image %}
          <img src="{{ block.settings.image | img_url: '50x50' }}" alt="Icon">
        {% endif %}
        <span>{{ block.settings.text }}</span>
      </div>
    {% endfor %}
    {% for block in section.blocks %}
      <div class="moving-banner-item" {{ block.shopify_attributes }}>
        {% if block.settings.image %}
          <img src="{{ block.settings.image | img_url: '50x50' }}" alt="Icon">
        {% endif %}
        <span>{{ block.settings.text }}</span>
      </div>
    {% endfor %}
  </div>
</div>